*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
  
}
nav{
    display: flex;
    align-items: center;
    background-color: bisque;
    padding: 10px 20px;
    justify-content: space-around;
}
#heading{
  font-size: clamp(1rem,4vw, 3rem);
}
.dateandtime{
    font-size: clamp(1rem,1vw,2rem);
}
.ri-sun-fill{
    display: none;
}